# Binaries for programs and plugins
yajsonschema
*.exe
*.dll
*.so
*.dylib
.*.swp

# Test binary, build with `go test -c`
*.test

# dependencies (go dep)
vendor

# ide etc.
.vscode

# ruby/jekyll/gh-pages
.bundle
Gemfile
Gemfile.lock
_site
